{% extends "base.html" %}

{% block title %}Pay by Credit Card{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Pay by Credit Card</h1>
                </div>
                <div class="card-body">
                    <form id="payment" method="post">
                        <div class="mb-3">
                            <label for="card-number" class="form-label">Card Number</label>
                            <div id="card-number" class="field form-control"></div>
                        </div>
                        <div class="mb-3">
                            <label for="cvv" class="form-label">CVV</label>
                            <div id="cvv" class="field form-control"></div>
                        </div>
                        <div class="mb-3">
                            <label for="expiration-date" class="form-label">Expiration Date</label>
                            <div id="expiration-date" class="field form-control"></div>
                        </div>

                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Pay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/3.58.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.58.0/js/hosted-fields.min.js"></script>
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('button[type="submit"]');

    braintree.client.create({
        authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error(clientErr);
            return;
        }

        braintree.hostedFields.create({
            client: clientInstance,
            styles: {
                'input': {'font-size': '13px'},
                'input.invalid': {'color': 'red'},
                'input.valid': {'color': 'green'}
            },
            fields: {
                number: {selector: '#card-number'},
                cvv: {selector: '#cvv'},
                expirationDate: {selector: '#expiration-date'}
            }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
                console.error(hostedFieldsErr);
                print('hostedFieldsErr : =', hostedFieldsErr)
                return;
            }

            submit.removeAttribute('disabled');

            form.addEventListener('submit', function (event) {
                event.preventDefault();

                hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                        console.error(tokenizeErr);
                        print('tokenizeErr : =', tokenizeErr)
                        return;
                    }
                    // set nonce to send to the server
                    document.getElementById('nonce').value = payload.nonce;
                    // submit form
                    document.getElementById('payment').submit();
                });
            }, false);
        });
    });
</script>
{% endblock %}